.c {
    animation: mymove 2s infinite alternate linear;}

@keyframes mymove 
{ from {background-color:#deabf8}
to {background-color:#c7c1f8}}

img {
    border: 2px darkred solid;
    width: 420px;
    height: auto; 
}

<!--not using currently-->
.ffloat {
    float:right;
}

p {
    font-size: 30px;
    font-family: Doctor Glitch;
}

.ps {
    font-size: 15px;
    font-family: Vogue;
}

hr {
    border: 1px solid rgb(160, 42, 91);
    margin: auto;
    width: 80%;
  }

.ig {
        display: inline-block;
        padding: 30px;
}